<html>
  <head>
    <meta charset="utf-8">
    <title>
      Vuex Sample
    </title>
  </head>
  <body>
    <div id="app">
      <counter></counter>
      <p>
        <button @click="increment">+</button>
        <button @click="decrement">-</button>
        <button @click="add()">add 1</button>
        <button @click="asyncAdd">async</button>
        <button @click="actAB">actAB</button>
      </p>
      <input type="text" v-model="message">
      <span>{{ message }}</span>
      <test-tag-obj v-for="obj in objs" :obj="obj"></test-tag-obj>
      <test-tag-obj :obj="objs[0]"></test-tag-obj>
      <test-tag-str :str="obj_str"></test-tag-str>
      <test-tag-str :str="obj_str"></test-tag-str>
      <test-tag-str :str="obj_str"></test-tag-str>

    </div>
    <script type="text/javascript" src='node_modules/vue/dist/vue.js'></script>
    <script type="text/javascript" src='node_modules/vuex/dist/vuex.js'></script>
    <script type="text/javascript" src='index.js'></script>
  </body>
</html>